<div class="container">
    <p><a href="admin.php" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>Administrar Produtos</a></p>
    <div class="well well-sm">        
        <strong>Lista de Produtos</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
    	{*itens}
    </div>
</div>    	


