<div class="container">
	<p><button type="button" class="btn btn-primary editButton" onClick="openModalAddProduct()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Adicionar Produto</button></p>

	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Preço</th>
			<th>Ações</th>
		</tr>
	    {*itens}
	</table>
	<a href="../mvc" class="btn btn-default editButton" ><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Voltar para a Home</a>
</div>



